<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592256790673-qcdplj6pab26vchglkqca5c39vclnr0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592256790673-qcdplj6pab26vchglkqca5c39vclnr0a</string>
	<key>API_KEY</key>
	<string>AIzaSyBM9H-7KSlVfSq3-I44DIAwlhhXjJufIWI</string>
	<key>GCM_SENDER_ID</key>
	<string>592256790673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.property051.islamabad</string>
	<key>PROJECT_ID</key>
	<string>property051-53366</string>
	<key>STORAGE_BUCKET</key>
	<string>property051-53366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592256790673:ios:5bf4e082305a046914cf30</string>
</dict>
</plist>